@media (max-width:992px){

    .about-text-left {
        margin-top:0px;
    }
    .about-text-left .lead {
        font-size: 18px;
    }
   .slidere-caption .btn {
    margin-top: 17px;
    }  
    .mt-5 {
        margin-top: 8rem !important;
    }
    .about-item .card img {
        margin: auto;
    }
    .btn-android {
        margin-top: 19px;
    }
    .slidere-caption h4 {
        margin-bottom: 11px;
        font-size: 20px;
    }
    .slidere-caption h2 {
        margin-bottom: 24px;
        font-size: 36px;
    }

}


@media (max-width:768px){
    .slidere-caption h4 {
        margin-bottom: 9px;
        font-size: 15px;
    }
    .slidere-caption h2 {
        margin-bottom: 19px;
        font-size: 26px;
    }
    .slidere-caption .form-control {
        padding: 11px 13px;
        font-size: 12px;
    }
    .slidere-caption .btn {
        padding: 6px 21px;
        font-size: 20px;
    }
    .slider-section {
        padding: 90px 0;
    }
    .form-control.form-control-lg.mb-3.xyz {
        padding: 0 5px;
        font-size: 14px;
    }
    .sub-btn {
        padding: 10px 20px;
        margin-top: -56px;
        font-size: 15px;
    }
}

@media (max-width:576px){

}
